@use 'variables' as v;
@use 'mixins' as m;

*{
    padding: 0;
    margin: '';
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: inherit;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2{
    font-family: v.$fuentePrincipal;
    font-weight:400;
}
p,a{
    font-family: v.$fuenteSecundaria;
    font-weight: 400;
}
p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: v.$colorParrafo;
}

img{
    display: block;
    width: 100%;
}
li{
    list-style: none;
}