/* fuente */
$fuentePrincipal: 'Marcellus', serif;
$fuenteSecundaria: 'Figtree', sans-serif;



/* colore */
$colorPrimario: #EDBD40;
$colorSecundario: #1E1E1E;
$coloVerde: #219653;
$colorRojo:#CF2E2E;
$colorCard: #F6F6F6;
$colorParrafo: #636363;
$colorBlanco: #FFFFFF;
$colorNegro: #000000;
$colorClaro: #e5e0e04e;



/* media query */
$telefono: 420px;
$tablet: 768px;
$desktop: 1280px;

